---
import LegalLayout from '@/layouts/LegalLayout.astro'
const today = new Date()
---

<LegalLayout title="Términos y Condiciones" lastUpdated={today}>
  <p>Al instalar y utilizar nuestro complemento...</p>
  <h2>1. Descripción del Servicio</h2>
  <p>TConnector permite la conexión...</p>
</LegalLayout>
