---
interface Props {
  title: string
  description: string
  color: 'green' | 'red' | 'yellow' | 'blue'
}

const {title, description, color} = Astro.props
---

<article class:list={['info-card', color]}>
  <div class:list={['info-icon', color]} aria-hidden="true">
    <slot name="icon" />
  </div>
  <h3>{title}</h3>
  <p>{description}</p>
</article>

<style>
  .info-card {
    background: var(--color-white);
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
    border-left: 4px solid transparent;
  }
  .info-card:hover {
    transform: scale(1.02);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
  }
  .info-card.green {
    border-left-color: rgba(72, 187, 120, 0.3);
  }
  .info-card.red {
    border-left-color: rgba(245, 101, 101, 0.3);
  }
  .info-card.yellow {
    border-left-color: rgba(246, 224, 94, 0.4);
  }
  /* Estilo añadido para el color azul */
  .info-card.blue {
    border-left-color: rgba(66, 153, 225, 0.3);
  }

  .info-icon {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem;
    color: var(--color-white);
  }
  .info-icon.green {
    background-color: var(--color-accent-green);
  }
  .info-icon.red {
    background-color: var(--color-accent-red);
  }
  .info-icon.yellow {
    background-color: var(--color-accent-yellow);
  }
  /* Estilo añadido para el color azul */
  .info-icon.blue {
    background-color: var(--color-primary);
  }

  .info-card h3 {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--color-text-primary);
    margin-bottom: 0.5rem;
  }

  .info-card p {
    font-size: 1rem; /* Se establece el tamaño base a 1rem */
    color: var(--color-text-muted);
  }

  @media (min-width: 640px) {
    .info-card {
      padding: 2rem;
    }
    .info-icon {
      height: 4rem;
      width: 4rem;
      margin-bottom: 1.5rem;
    }
    .info-card h3 {
      font-size: 1.25rem;
    }
  }
</style>
