---
import FaqItem from '@/components/FaqItem.astro'
import InfoContainer from '@/components/InfoContainer.astro'
---

<InfoContainer
  title="Preguntas Frecuentes"
  subtitle="Resolvemos tus dudas más comunes"
>
  <div class="faq-container">
    <FaqItem>
      <span slot="question">¿Es seguro conectar Tango con Google Sheets?</span>
      <span slot="answer">
        Es 100% seguro. Los datos para configurar la conexión a Tango se guardan
        en las <a
          href="https://developers.google.com/apps-script/reference/properties/properties-service?hl=es-419#getdocumentproperties"
          target="_blank"
          rel="noopener noreferrer">propiedades de la hoja de cálculo</a
        >. Solo el propietario y los usuarios con acceso al archivo, que hayan
        instalado el complemento, pueden ver la información de conexión.
      </span>
    </FaqItem>

    <FaqItem>
      <span slot="question">¿Qué versiones de Tango son compatibles?</span>
      <span slot="answer">
        Este complemento puede ser utilizado con Tango en todas sus versiones
        Delta.
      </span>
    </FaqItem>

    <FaqItem>
      <span slot="question">¿Cómo se conecta TConnector con Tango?</span>
      <span slot="answer">
        TConnector utiliza la API de Tango. Para más información sobre el tema
        consultar la <a
          href="https://ayudas.axoft.com/24ar/documentos/operacion/apertura_oper/api_oper"
          target="_blank"
          rel="noopener noreferrer">documentación oficial</a
        >.
      </span>
    </FaqItem>
  </div>
</InfoContainer>

<style>
  .faq-container {
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  @media (min-width: 640px) {
    .faq-container {
      padding: 0 1.5rem;
    }
  }
</style>
