---
import Card from '@/components/Card.astro'
import InfoContainer from '@/components/InfoContainer.astro'
---

<InfoContainer
  title="Para un Correcto Funcionamiento"
  subtitle="Para asegurar una conexión estable y sin interrupciones, ten en cuenta estos puntos clave:"
>
  <div class="req-grid">
    <Card
      color="blue"
      title="Servicio 'Connect' Activo"
      description='El complemento depende de que el servicio "Tango Connect", esté activo y funcionando correctamente en tu servidor.'
    >
      <svg
        slot="icon"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </Card>

    <Card
      color="blue"
      title="Validez del Token"
      description='Si el token de desarrollador es actualizado, modificado o "blanqueado" en Tango, deberás actualizarlo también en los ajustes de conexión del complemento.'
    >
      <svg
        slot="icon"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          d="M15 7h3a5 5 0 0 1 5 5 5 5 0 0 1-5 5h-3m-6 0H6a5 5 0 0 1-5-5 5 5 0 0 1 5-5h3"
        ></path>
        <path d="M8 12h8"></path>
      </svg>
    </Card>
  </div>
</InfoContainer>

<style>
  .req-grid {
    display: grid;
    gap: 1.5rem;
    max-width: 700px;
    margin: 0 auto;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
</style>
